.navbar {
    background-color: #066F64;
    min-height:130px;
}
.caps {
    text-transform: capitalize;
}
.popup-stats-ctn.title {
    font-size: 1.5em;
    margin-bottom: 10px;;
}
.popup-stats-ctn {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.popup-stats-ctn span {
    display: inline-block;
}
.popup-stats-ctn span.details {
    margin-left: 10px;
}
.logo {
    min-width: 100px;
    min-height: 100%;
}
select, select option {
    text-transform:capitalize;
}
ul.message {
    display: block;
    text-align: center;
    margin-top:25px;
    padding: 20px 30px;
    background-color: #000000;
    color: #ffffff;
  }
.has-brand-green {
    color: #066F64;
}
.has-brand-green-background {
    background-color: #066f64;
    color: #ffffff;
}
.has-deep-red {
    color: #ec3454;
}
.has-deep-red-background {
    background-color: #ec3454;
    color: #ffffff;
}
.car-type-popup {
    min-width:300px;
    }
body {
    position:relative;
    padding-bottom: 150px;
    min-height: 100VH;
}
.footer {
    position: absolute;
    z-index: 9999999;
    left: 0;
    bottom: 0;
    right:0;
    background-color: #066F64;
    color: #ffffff;
}